#wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	z-index: 100;
}
#wrap .card {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	margin-top: 20px;
}
#wrap .card .card-title {
	padding: 0 1.25rem;
	margin-top: .75rem;
}
